@import './1_Variables/fonts.scss';
@import './1_Variables/colors.scss';
@import './2_Layout/header.scss';
@import './2_Layout/main.scss';
@import './2_Layout/rules.scss';
@import './3_Components/canvas.scss';
@import './3_Components/gamer-state.scss';
@import './3_Components/life.scss';
