*{
   margin: 0;
   padding: 0;
}

body {
   background: url(../../images/wallpaper1.jpg)no-repeat;
   color: $mainColor2;
   font-family: $RegGame;
}

main {
   width: 95%;
   margin: auto;
   text-align: center;
}
